{% extends 'litrevuweb/base.html' %}

{% block title %}Créer un Billet et une Critique{% endblock %}

{% block content %}
    <h2>Créer un Billet et une Critique</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend>Billet</legend>
            {{ ticket_form.as_p }}
        </fieldset>
        <fieldset>
            <legend>Critique</legend>
            {{ review_form.as_p }}
        </fieldset>
        <button type="submit">Créer</button>
    </form>
{% endblock %}
