{% extends 'litrevuweb/base.html' %}

{% block title %}Flux Général{% endblock %}

{% block content %}
<main>
    <h1>Flux Général</h1>

    <!-- Section des 10 derniers billets ou critiques créés -->
    <div class="items-container">
        <h2>Les 10 derniers billets ou critiques créés</h2>

        {% for obj in latest_items %}
            <div class="ticket">

                {% if obj.type == 'ticket' %}
                    <!-- Affichage d'un billet -->
                    <div class="ticket-content">
                        {% if obj.item.image %}
                            <img src="{{ obj.item.image.url }}" alt="Image du billet" class="ticket-image">
                        {% endif %}
                        <div class="item-info">
                            <div class="item-header">
                                <p class="ticket-author">
                                    <strong>Demande de critique par :</strong> {{ obj.item.user.username }}  ,
                                    {{ obj.item.time_created|date:"M d, Y, g:i a" }}
                                </p>         
                                <!-- Abonnement -->
                                {% if request.user != obj.item.user %}
                                <form method="post" action="" class="follow-form">
                                    {% csrf_token %}
                                    {% if obj.item.user.id in user_follows_ids %}
                                        <input type="hidden" name="unfollow_user_id" value="{{ obj.item.user.id }}">
                                        <button type="submit" title="Se désabonner" class="follow-button">
                                            <i class="fa-solid fa-heart subscribed"></i> <!-- Icône rouge -->
                                        </button>
                                    {% else %}
                                        <input type="hidden" name="follow_user_id" value="{{ obj.item.user.id }}">
                                        <button type="submit" title="S'abonner" class="follow-button">
                                            <i class="fa-solid fa-heart not-subscribed"></i> <!-- Icône noire -->
                                        </button>
                                    {% endif %}
                                </form>
                                    {% endif %}
                                <h3>{{ obj.item.title }}</h3>
                                <div class="item-actions">
                                    {% if request.user == obj.item.user %}
                                        <a href="{% url 'edit_ticket' obj.item.id %}" title="Modifier" class="edit-button">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <form method="post" action="{% url 'delete_ticket' obj.item.id %}" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="delete-button" title="Supprimer">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                            <p class="ticket-description">{{ obj.item.description }}</p>

                            <!-- Affichage des critiques associées -->
                            <h4>Critiques</h4>
                            {% for review in obj.item.reviews.all %}
                                <div class="review">
                                    <div class="review-header">
                                        <div class="review-author">
                                            <strong>{{ review.user.username }}</strong>, {{ review.time_created|date:"d/m/Y H:i" }}
                                        </div>
                                        <div class="review-actions">
                                            {% if request.user == review.user %}
                                                <a href="{% url 'edit_review' review.id %}" title="Modifier" class="edit-button">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </a>
                                                <form method="post" action="{% url 'delete_review' review.id %}" style="display:inline;">
                                                    {% csrf_token %}
                                                    <button type="submit" class="delete-button" title="Supprimer">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <p>{{ review.body }}</p>
                                    <p><strong>Note :</strong> {{ review.rating }}/5</p>
                                </div>
                            {% endfor %}

                            <!-- Ajouter une nouvelle critique -->
                            {% for user_review in user_reviews %}
                                {% if user_review.ticket_id == obj.item.id %}
                                    {% if not user_review.has_reviewed %}
                                        <a href="{% url 'add_review' obj.item.id %}" class="add-review-link">Ajouter une Critique</a>
                                    {% else %}
                                        <p class="error-message">Vous avez déjà posté une critique pour ce billet.</p>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                {% elif obj.type == 'review' %}
                    <!-- Affichage d'une critique -->
                    <div class="ticket-content">
                        {% if obj.item.ticket.image %}
                            <img src="{{ obj.item.ticket.image.url }}" alt="Image du billet" class="ticket-image">
                        {% endif %}
                        <div class="item-info">
                            <div class="item-header">
                                <p class="ticket-author"></p>
                                    <strong>Publication d'une critique de :</strong> {{ obj.item.user.username }}  ,
                                    {{ obj.item.time_created|date:"M d, Y, g:i a" }}
                                </p>
                                <!-- Abonnement -->
                                {% if request.user != obj.item.user %}
                                <form method="post" action="" class="follow-form">
                                    {% csrf_token %}
                                    {% if obj.item.user.id in user_follows_ids %}
                                        <input type="hidden" name="unfollow_user_id" value="{{ obj.item.user.id }}">
                                        <button type="submit" title="Se désabonner" class="follow-button">
                                            <i class="fa-solid fa-heart subscribed"></i> <!-- Icône rouge -->
                                        </button>
                                    {% else %}
                                        <input type="hidden" name="follow_user_id" value="{{ obj.item.user.id }}">
                                        <button type="submit" title="S'abonner" class="follow-button">
                                            <i class="fa-solid fa-heart not-subscribed"></i> <!-- Icône noire -->
                                        </button>
                                    {% endif %}
                                </form>
                                    {% endif %}
                                <h3>{{ obj.item.ticket.title }}</h3>
                                <p>{{ obj.item.body }}</p>
                                
                                <div class="item-actions">
                                    {% if request.user == obj.item.user %}
                                        <a href="{% url 'edit_review' obj.item.id %}" title="Modifier" class="edit-button">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                        <form method="post" action="{% url 'delete_review' obj.item.id %}" style="display:inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="delete-button" title="Supprimer">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    {% endif %}
                                    <!-- Ajouter une nouvelle critique -->
                                    {% if request.user != obj.item.user %}
                                        <a href="{% url 'add_review' obj.item.ticket.id %}" class="add-review-link">Ajouter une Critique</a>
                                    {% else %}
                                        <p class="error-message"></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
